*.un~
*.pyc
.project
.pydevproject
.settings
extra_code/PRE_PROCESS/*
extra_code/PRODUCTS/*
extra_code/POST_PROCESS/*
extra_code/compiled_libs/*
extra_code/extra_libs/*
python/*
*.zip
*.tar.gz
*.tgz
sitestatic/*
*.swp
settings_local.py

# ignore the database for the operations app
operations_db.db

# ignore .svn files from the 'subversion' repository
.svn
