#gdal is managed in its own script for now
#ipython==0.12
#wsgiref==0.1.2
paramiko==1.10.1
Fabric==1.6.0
Cython==0.18
Django==1.4
South==0.7.4
distribute==0.6.24
pycountry==0.14.1
pysftp==0.2.2
ConcurrentLogHandler==0.8.4
pexpect==2.4
numpy==1.6.1
PIL==1.1.7
pillow==2.0.0
pyparsing==1.5.7
