<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>create_running_package</title>
		<meta name="author" content="Ricardo Garcia Silva" />
		<!-- Date: 2012-01-12 -->
	</head>
	<body>
		<h1>Create running package:</h1>
		<form action="/operations/create/" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Create" />
		</form>
	</body>
</html>
